    html {
        --primaryGradient: linear-gradient(93.12deg, #51afe6 0.52%, #a12ae6 100%);
        --secondaryGradient: linear-gradient(268.91deg, #cf1af3, #9C1DE7 99.69%);
        --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
        --primary: #581B98;
    }
    
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #ffffff00;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    .code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    .container {
        text-align: center;
    }
    
    
    /* #About Page  */
    
    .main-content {
        border-radius: 5px;
        /* background-color: #ECECEC; */
    } 
 #about {
        padding-top: 50px;
        margin-bottom: 50px;
        background-image: url(./Images/bg-blue.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about {
        text-align: center;
        background: rgba( 255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 15px);
        -webkit-backdrop-filter: blur( 15px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18);
        padding: 50px;
    }
    
    .about-info {
        font-size: 1.5rem;
        font-family: 'Poppins';
        text-align: center;
    }